<div class="title">
  <h1>Angular Animations</h1>

</div>
<div class="content" role="main">
  <!-- 
  <h2>Welcome</h2>
  <app-welcomepage></app-welcomepage>

   
  <h2>Fade In Effect: </h2>
  <app-fade-in></app-fade-in>

  <h2>Fade Out Effect: </h2>
  <app-fade-out></app-fade-out>

  <h2>Slide Animation</h2>
  <app-slide-animation></app-slide-animation>

  <h2>Oepn Close Animation</h2>
  <app-open-close></app-open-close> -->

  <!-- <router-outlet></router-outlet> -->

  <nav>
    <a routerLink="/welcome" routerLinkActive="active">Welcome</a>
    <a routerLink="/open-close">open-close</a>
    <a routerLink="/Fade-In">Fade-In</a>
    <a routerLink="/Fade-Out">Fade-Out</a>
    <a routerLink="/Slide-Animations">Slide-Animations</a>



  </nav>
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

</div>